﻿#flyzoo-embedded-sidebar {
    width: auto;
    height: auto;
    padding: 0 !important;
    margin: 0 !important;
}

.flyzoo-dragbar-right {
    background-color: transparent;
    height: 100%;
    float: right;
    width: 3px;
    cursor: col-resize;
    margin-right: -3px;
}

.flyzoo-dragbar-left {
    background-color: transparent;
    height: 100%;
    float: left;
    width: 3px;
    cursor: col-resize;
    margin-left: -3px;
}

#flyzoo-ghost-layer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99999999;
}

#flyzoo-tab-label {
    font-family: 'Varela Round', sans-serif !important;
    -webkit-font-smoothing: antialiased !important;
    height: 50px !important;
    overflow: hidden !important;
    text-shadow: none !important;
    text-decoration: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    padding: 0 !important;
    margin: 0 !important;
    min-width: 180px;
}

    #flyzoo-tab-label:hover {
        cursor: pointer;
    }

#flyzoo-tab-ico {
    float: left;
    margin-right: -25px;
    margin-top: 12px;
    overflow: visible;
    margin-left: 5px;
}


#flyzoo-tab-text-row1 {
    text-overflow: ellipsis;
    max-width: 350px;
    white-space: nowrap;
    overflow: hidden;
    float: left;
    margin-left: -10px;
    padding: 0;
    font-size: 18px;
    margin-top: 12px;
}

#flyzoo-tab-ico svg {
    height: 28px !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

#flyzoo-tab-ico div {
    position: absolute !important;
    z-index: 9999999 !important;
    text-align: center !important;
    width: 40px !important;
    font-size: 12px !important;
    font-weight: bold !important;
    line-height: 12px !important;
    margin-top: 4px !important;
}

#flyzoo-tab-l {
    float: left;
    width: 65px;
    margin-right: -1px;
}

#flyzoo-tab-r {
    float: right;
    width: 65px;
    margin-left: -3px;
}

#flyzoo-tab-c {
    float: left;
    color: white;
    height: 50px;
}



.flyzoo-div-rotate-right {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg); /* Newer browsers (incl IE9) */
}

    .flyzoo-div-rotate-right #flyzoo-tab-ico {
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg); /* Newer browsers (incl IE9) */
        margin-top: 8px;
    }


.flyzoo-div-rotate {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); /* Newer browsers (incl IE9) */
}

    .flyzoo-div-rotate #flyzoo-tab-ico {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); /* Newer browsers (incl IE9) */
        margin-top: 8px;
    }


/* Bubble label */

#flyzoo-bubble-label {
    margin: 0;
    padding: 0;
    height: 70px;
    width: 70px;
    position: fixed;
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
}

    #flyzoo-bubble-label:hover {
        cursor: pointer;
    }

    #flyzoo-bubble-label svg {
        width: 160px;
        height: 160px;
        position: relative;
        top: 0;
        left: 0;
        pointer-events: none;
    }

#flyzoo-bubble-label-counter {
    position: absolute !important;
    z-index: 9999999 !important;
    text-align: center !important;
    width: 70px !important;
    font-size: 19px !important;
    margin-top: 14px !important;
    text-shadow: none !important;
    line-height: 19px !important;
}

.flyzoo-bubble-flip {
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph;
}



.flyzoo-reset {
    animation: none;
    animation-delay: 0;
    animation-direction: normal;
    animation-duration: 0;
    animation-fill-mode: none;
    animation-iteration-count: 1;
    animation-name: none;
    animation-play-state: running;
    animation-timing-function: ease;
    backface-visibility: visible;
    background: 0;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-position-x: 0;
    background-position-y: 0;
    background-repeat: repeat;
    background-size: auto auto;
    border: 0;
    border-style: none;
    border-width: medium;
    border-color: inherit;
    border-bottom: 0;
    border-bottom-color: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-collapse: separate;
    border-image: none;
    border-left: 0;
    border-left-color: inherit;
    border-left-style: none;
    border-left-width: medium;
    border-radius: 0;
    border-right: 0;
    border-right-color: inherit;
    border-right-style: none;
    border-right-width: medium;
    border-spacing: 0;
    border-top: 0;
    border-top-color: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    bottom: auto;
    box-shadow: none;
    box-sizing: content-box;
    caption-side: top;
    clear: none;
    clip: auto;
    color: inherit;
    columns: auto;
    column-count: auto;
    column-fill: balance;
    column-gap: normal;
    column-rule: medium none currentColor;
    column-rule-color: currentColor;
    column-rule-style: none;
    column-rule-width: none;
    column-span: 1;
    column-width: auto;
    content: normal;
    counter-increment: none;
    counter-reset: none;
    cursor: auto;
    direction: ltr;
    display: inline;
    empty-cells: show;
    float: none;
    font: normal;
    font-family: inherit;
    font-size: medium;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    height: auto;
    hyphens: none;
    left: auto;
    letter-spacing: normal;
    line-height: normal;
    list-style: none;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    margin: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    max-height: none;
    max-width: none;
    min-height: 0;
    min-width: 0;
    opacity: 1;
    orphans: 0;
    outline: 0;
    outline-color: invert;
    outline-style: none;
    outline-width: medium;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    padding: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: auto;
    perspective: none;
    perspective-origin: 50% 50%;
    position: static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes: '\201C' '\201D' '\2018' '\2019';
    right: auto;
    tab-size: 8;
    table-layout: auto;
    text-align: inherit;
    text-align-last: auto;
    text-decoration: none;
    text-decoration-color: inherit;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    top: auto;
    transform: none;
    transform-style: flat;
    transition: none;
    transition-delay: 0s;
    transition-duration: 0s;
    transition-property: none;
    transition-timing-function: ease;
    unicode-bidi: normal;
    vertical-align: baseline;
    visibility: visible;
    white-space: normal;
    widows: 0;
    width: auto;
    word-spacing: normal;
    z-index: auto;
}

#flyzoo-dock-div {
    width: auto !important;
    height: 48px;
    max-height: 48px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 999999;
    display: inline-block;
    visibility: hidden;
}


#flyzoo-dock-iframe {
    border: 0 !important;
    display: inline-block;
    height: 48px;
    z-index: 999999;
    margin: 0 !important;
    padding: 0 !important;
}

.flyzoo-chatwindow {
    width: 290px;
    height: 290px;
    position: fixed;
    /*-webkit-backface-visibility: hidden;*/
    /*margin:0px;
    padding:0px;
    border:0;*/
}

/* Minimized  */
.flyzoo-minimized-desktop {
    border-radius: 12px;
    width: 180px;
    margin-left: 10px;
    margin-right: 0;
    height: 18px;
    padding: 8px;
    font-family: 'Varela Round', sans-serif !important;
    -webkit-font-smoothing: antialiased;
    float: left;
    font-size: 14px;
    line-height: 10px;
    -webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-text-shadow: none;
    text-shadow: none;
    margin-bottom: 5px;
}

    .flyzoo-minimized-desktop > span {
        margin-top: 4px;
        padding: 0;
    }

    .flyzoo-minimized-desktop .flyzoo-avatar {
        display: none;
    }

.flyzoo-avatar {
    width: 50px;
    float: left;
    display: block;
    margin-top: -10px;
}

    .flyzoo-avatar img {
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        height: 50px;
        width: 50px;
        display: block;
        clear: both;
    }

    .flyzoo-avatar > div:nth-child(2), .flyzoo-arrowup {
        border-color: white transparent;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        height: 0;
        width: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }


/*.flyzoo-more-desktop {

    border-radius: 8px;
    height: 19px;
    padding: 8px;
    -webkit-font-smoothing: antialiased;
    margin-right: 0;
    margin-left: 10px;
    float: left;
    background-color: #ffd800;
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}*/

.flyzoo-more-desktop {
    border-radius: 50px;
    height: 18px;
    padding: 8px;
    -webkit-font-smoothing: antialiased;
    margin-right: 0;
    margin-left: 10px;
    float: left;
    background-color: #ffd800;
    font-family: 'Varela Round', sans-serif;
    overflow: hidden;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
}



    .flyzoo-more-desktop img {
        height: 20px !important;
        width: auto !important;
        margin-top: -14px !important;
        padding: 0 !important;
    }


.flyzoo-more-mobile {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    height: 48px;
    width: 48px;
    color: grey;
    margin-top: 6px;
    float: left;
    display: block;
    background-color: white;
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
    border: solid 2px #808080;
}

    .flyzoo-more-mobile img {
        height: 24px !important;
        width: 28px !important;
        margin-top: 2px !important;
        margin-left: 10px !important;
        -webkit-box-sizing: content-box !important;
        box-sizing: content-box !important;
        padding: 0 !important;
    }




    .flyzoo-more-mobile .flyzoo-more-count {
        display: none;
    }

.flyzoo-more-desktop:hover, .flyzoo-minimized-desktop:hover {
    cursor: pointer;
}

#flyzoo-stack-div {
    width: auto;
    height: 48px;
    position: fixed;
    bottom: 0;
    z-index: 999999;
    display: inline-block;
    visibility: visible;
    overflow: hidden;
}

.flyzoo-morechats-window-desktop {
    width: 200px; /* tiene conto del padding di flyzoo-minimized-desktop */
    height: auto;
    position: fixed;
    /*padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;*/
    bottom: 58px;
    left: 10px;
    z-index: 9999999;
    display: none;
    overflow: hidden;
    /*background-color: gray;*/
    border-radius: 5px;
}

.flyzoo-morechats-window-mobile {
    /*width: 100%;
            height:100%;*/
    position: fixed;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    top: 70px;
    left: 0;
    z-index: 9999999;
    display: none;
    background-color: white;
    border-radius: 5px;
    overflow: scroll;
}


.flyzoo-morechats-window-desktop div {
    margin-left: 0;
    margin-bottom: 10px;
}

.flyzoox-circle-notification-desktop {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: red;
    text-align: center;
    font-family: verdana;
    font-size: 10px;
    font-weight: bold;
    line-height: 9px;
    color: #ffffff;
    vertical-align: middle;
    letter-spacing: -1px;
    display: table-cell;
    visibility: hidden;
    padding: 0 !important;
    margin: 0 !important;
    float: right;
}


.flyzoox-circle-notification-mobile {
    width: 16px;
    height: 16px;
    border-radius: 18px;
    background-color: red;
    text-align: center;
    font-family: verdana;
    font-size: 8px;
    font-weight: bold;
    color: #ffffff;
    position: relative;
    top: 8px;
    left: 36px;
    visibility: hidden;
    padding: 0 !important;
    margin: 0 !important;
}


#flyzoo-mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    display: none;
}

.flyzoo-minimized-mobile {
    float: left;
    margin-right: 5px;
    width: 56px;
}

    .flyzoo-minimized-mobile span:first-of-type {
        display: none;
    }

.chat-list-mobile-element {
    margin-right: 10px;
    width: 100%;
}

    .chat-list-mobile-element span:first-of-type {
        display: block;
        margin-left: 15px;
        font-size: 18px;
    }

/* Main  menu */

.flyzoo-menu-desktop {
    width: 100%; /* tiene conto del padding di flyzoo-minimized-desktop */
    height: auto;
    position: fixed;
    padding: 0;
    bottom: 58px;
    right: 10px;
    z-index: 9999999;
    display: none;
    overflow: hidden;
    border-radius: 5px;
    background-color: transparent;
}

    .flyzoo-menu-desktop iframe {
        height: 100%;
        width: 100%;
        background-color: transparent;
    }

.flyzoo-menu-mobile {
    position: fixed;
    top: 0;
    right: -5000px;
    z-index: 9999999;
    display: none;
    overflow: scroll;
    background-color: transparent;
}

/* Login */

.flyzoo-login-desktop {
    width: 390px; /* tiene conto del padding di flyzoo-minimized-desktop */
    height: 450px;
    z-index: 9999999;
    display: none;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 000 10px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

    .flyzoo-login-desktop iframe {
        height: 100%;
        width: 100%;
    }

.flyzoo-login-mobile {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
    display: none;
    overflow: scroll;
}

.flyzoo-loader-spin {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    z-index: 999999999;
    display: block;
    visibility: visible;
    border-radius: 5px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.flyzoo-spinner {
    left: 0;
    top: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

/* animations */

.flyzoo-animated {
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes flyzoo-shake {
    0%, 100% {
        -webkit-transform: translateY(0);
    }

    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translateY(-5px);
    }

    20%, 40%, 60%, 80% {
        -webkit-transform: translateY(5px);
    }
}

@keyframes flyzoo-shake {
    0%, 100% {
        transform: translateX(0);
    }

    10%, 30%, 50%, 70%, 90% {
        transform: translateY(-5px);
    }

    20%, 40%, 60%, 80% {
        transform: translateY(5px);
    }
}

.flyzoo-shake {
    -webkit-animation-name: flyzoo-shake;
    animation-name: flyzoo-shake;
}

#flyzoo-mobile-wrapper {
    pointer-events : none;
}


#flyzoo-mobile-wrapper * {
    pointer-events : auto;
}