.post-views.entry-meta>span{margin-right:0!important;font:16px/1;}.post-views.entry-meta>span.post-views-icon.dashicons{display:inline-block;font-size:16px;line-height:1;text-decoration:inherit;vertical-align:middle;}