@function sum($left, $right) {
  @return $left + $right;
}

// Pixel size 16px
@function em($pixels, $context: 16px) {
  @return $pixels / $context * 1em;
}

@function col-width($columns: 12, $page-width: 100%, $gap: 1%) {
  @return ($page-width - $gap * ($columns - 1)) / $columns;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Pixel size 16px
@function px_to_vw($value-px,$layout-px)
{
 // @return ($value-px/$layout-px)* 100vw ;
  @return 100vw*($value-px/$layout-px) ;
}
 
 