@mixin zz_blue-beans {
  @if $brand == zz_blue-beans {
    @content;
  }
}

@mixin zz_roger_rover {
  @if $brand == zz_roger_rover {
    @content;
  }
}

@mixin warning {
  background-color: orange;
  color: white;

  &:hover {
    background-color: darken(orange, 15%);
  }
}

@mixin large-font {
  font: {
    size: 22px;
    weight: bold;
  };
}

@mixin rounded($radius: 6px) {
  border-radius: $radius;
}

@mixin box($radius: 6px, $border: 1px solid #000) {
  //@include rounded($radius);
  @include rounded($radius);

  //  border:1px solid #333;
  border: $border;
}

@mixin fancy-link {
  a {
    font-style: italic;
    text-decoration: none;
  }
}

@mixin box-shadow($shadows...) {
  box-shadow: $shadows;
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
}

@mixin apply-to-ie-6 {
  * html {
    @content;
  }
}

@mixin google-font($font) {
  $font: unquote($font);

  //only css mixing can be imported # for separte
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin tiny-screens {
  @media only screen and (max-width: 320px) {
    @content;
  }
}

@mixin small-screens {
  @media only screen and (max-width: 480px) {
    @content;
  }
}

@mixin medium-screens {
  @media only screen and (max-width: 680px) {
    @content;
  }
}

@mixin large-screens {
  @media only screen and (max-width: 960px) {
    @content;
  }
}
