 .empty-well {
    background: transparent;
}
.bigger-icon {
    font-size: 48px;
}



/* admin classes */
.admin-hidden {
    display: none;
}
.admin-display {
    display:inline-block;
}
.outlined {
    border: 1px solid red;
}

 
 


 
 
 