@import url(https://fonts.googleapis.com/css?family=Tangerine);

@import url(https://fonts.googleapis.com/css?family=Tangerine);

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300i|PT+Serif);

@import url(https://fonts.googleapis.com/css?family=Abril+Fatface);

body
{
  background-color: #f6f6f6;
}

#topnavid a
{
  color: whitesmoke;
  text-decoration: none;
  border-bottom: 1px solid rgba(254, 254, 254, 0);
  -webkit-transition: border-bottom .5s;
  transition: border-bottom .5s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#topnavid a:hover
{
  border-bottom: 1px solid #fefefe;
  background-color: #a42d08;
  border: 1px solid #a42d08;
  text-shadow: 0 -1px 0 #d53b0a;
  border: 2px solid red;
  border-radius: 25px;
}

#topnavid .navbar
{
  background-color: #299617;
}

@media (max-width: 950px)
{
  #topnavid .navbar-header
  {
    float: none;
  }

  #topnavid .navbar-toggle
  {
    display: block;
  }
}

#packageT .row
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#packageT .row > div[class*='col-']
{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#jumbotron .jumbotron-fluid
{
  background-color: #299617;
  color: #fff;
  font-family: "Tangerine", cursive;
}

#jumbotron .company_caption_font
{
  font-family: "Tangerine", cursive;
  text-shadow: 4px 4px 4px #aaa;
}

#jumbotron .company_moto_font
{
  font-family: "Abril Fatface", cursive;
  color: black;
}

#jumbotron .company_email_font
{
  font-family: "Josefin Sans", sans-serif;
  color: #000;
}

#jumbotron img
{
  border-radius: 50%;
  border: 5px solid;
  border-color: #299617;
  border-style: double;
}

#jumbotron .company_caption_font
{
  font-size: 70px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_caption_font
  {
    font-size: 21.875vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_caption_font
  {
    font-size: 18.42105vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_caption_font
  {
    font-size: 16.66667vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_caption_font
  {
    font-size: 14.58333vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_caption_font
  {
    font-size: 13.46154vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_caption_font
  {
    font-size: 12.06897vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_caption_font
  {
    font-size: 11.29032vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_caption_font
  {
    font-size: 10.29412vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_caption_font
  {
    font-size: 9.09091vw;
  }
}

#jumbotron .company_moto_font
{
  font-size: 16px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_moto_font
  {
    font-size: 5vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_moto_font
  {
    font-size: 4.21053vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.80952vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.33333vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_moto_font
  {
    font-size: 3.07692vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.75862vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.58065vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.35294vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_moto_font
  {
    font-size: 2.07792vw;
  }
}

#jumbotron .company_email_font
{
  font-size: 20px;
}

@media screen and (max-width: 320px)
{
  #jumbotron .company_email_font
  {
    font-size: 6.25vw;
  }
}

@media screen and (max-width: 380px)
{
  #jumbotron .company_email_font
  {
    font-size: 5.26316vw;
  }
}

@media screen and (max-width: 420px)
{
  #jumbotron .company_email_font
  {
    font-size: 4.7619vw;
  }
}

@media screen and (max-width: 480px)
{
  #jumbotron .company_email_font
  {
    font-size: 4.16667vw;
  }
}

@media screen and (max-width: 520px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.84615vw;
  }
}

@media screen and (max-width: 580px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.44828vw;
  }
}

@media screen and (max-width: 620px)
{
  #jumbotron .company_email_font
  {
    font-size: 3.22581vw;
  }
}

@media screen and (max-width: 680px)
{
  #jumbotron .company_email_font
  {
    font-size: 2.94118vw;
  }
}

@media screen and (max-width: 770px)
{
  #jumbotron .company_email_font
  {
    font-size: 2.5974vw;
  }
}

#icons
{
  background-color: white;
  z-index: 3;
  font-family: "Josefin Sans", sans-serif;
  text-shadow: 4px 4px 4px #aaa;
}

#icons .icon_font
{
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#icons .background
{
  display: block;
  z-index: 0;
}

#icons a:link
{
  color: green;
  text-decoration: none;
}

#icons a:visited
{
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

#icons a:hover
{
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

#icons a:active
{
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

#icons .marquee
{
  width: 100%;
  line-height: 50px;
  color: black;
  white-space: nowrap;
  font-size: 30px;
  font-style: oblique;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#icons .marquee p
{
  display: inline-block;
  padding-left: 100%;
  -webkit-animation: marquee 15s linear infinite;
          animation: marquee 15s linear infinite;
}

@-webkit-keyframes marquee
{
  0%
  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100%
  {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@keyframes marquee
{
  0%
  {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  100%
  {
    -webkit-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

#wayanad .bg-grey
{
  background-color: #f6f6f6;
}

#wayanad .font_wayanad
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#wayanad .carousel-inner img
{
  width: 100%;
  height: 100%;
  border: 5px solid #ddd;
  border-radius: 7px;
  border-color: #299617;
}

#profile .bg-grey
{
  background-color: #f6f6f6;
}

#profile .font_profile
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#profile img
{
  border-radius: 50%;
  border: 5px solid;
  border-color: #299617;
  border-style: outset;
}

#package
{
  background-color: #f6f6f6;
  font-family: "Roboto Slab", serif;
}

#package .balance-text
{
  text-wrap: balance;
    /* Apply (proposed) CSS style */;
}

#package .carditemC
{
  text-align: justify;
  text-justify: inter-word;
}

#package .font_package_heading
{
  font-family: "Tangerine", cursive;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#package .card-body
{
  padding: 0.5rem;
}

#package .card
{
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0px;
}

#package .cardSet0
{
  background-color: #669999;
}

#package .cardSet1
{
  background-color: #cc6666;
}

#package .cardSet2
{
  background-color: #cc9966;
}

#package h3.card-title
{
  font-size: 1.2rem;
}

#package h3.card-subtitle
{
  font-size: 1.1rem;
}

#package p.card-text
{
  font-size: 1rem;
  line-height: 1.2rem;
}

#googleMap .map-responsive
{
  overflow: hidden;
  padding-bottom: 50%;
  position: relative;
  height: 0;
}

#googleMap .map-responsive iframe
{
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

#contact .button_round
{
  background-color: #4CAF50;
  /* Green */
  border: 2px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 auto;
}

#contact .bg-grey
{
  background-color: #f6f6f6;
}

#contact .font_contact
{
  font-family: "Josefin Sans", sans-serif;
  font-size: 48px;
  color: #000;
  font-style: oblique;
  text-shadow: 4px 4px 4px #aaa;
}

#contact .round
{
  border: 1px solid grey;
  border-radius: 10px;
  padding: 12px 12px;
}

#contact .panel
{
  border: 5px solid #299617;
  border-radius: 0;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

#contact .panel:hover
{
  -webkit-box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 0px 40px rgba(0, 0, 0, 0.2);
}

#contact .panel-footer .btn:hover
{
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #299617;
}

#contact .panel-heading
{
  color: #fff !important;
  background-color: #299617;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

#contact .panel-footer
{
  background-color: #fff !important;
}

#contact .panel-footer h3
{
  font-size: 32px;
}

#contact .panel-footer h4
{
  color: #aaa;
  font-size: 14px;
}

#contact .panel-footer .btn
{
  margin: 15px 0;
  background-color: #f4511e;
  color: #fff;
}

#faq
{
  margin-top: 70px;
}

#footer1
{
  background-color: #FF7F50;
  height: 90px;
}

#footer1 .social
{
  padding-top: 30px;
  margin: auto;
}

#footer1 .social li
{
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  float: right;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  display: inline;
}

#footer1 .social li:hover
{
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#footer1 .social li a
{
  color: #EDEFF1;
}

#footer1 .social li:hover
{
  border: 2px solid #2c3e50;
  background: #2c3e50;
}

#footer1 .social li a i
{
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}

.slideanim
{
  visibility: hidden;
}

.slide
{
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateY(70%);
            transform: translateY(70%);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes slide
{
  0%
  {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }

  100%
  {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}

#myFooter
{
  color: white;
  padding-top: 20px;
  background-color: #696969;
}

#myFooter #map-container
{
  height: 240px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 10px;
}

#myFooter .row
{
  margin: 0 0px;
}

#myFooter .footer-copyright
{
  background-color: #D3D3D3;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p
{
  margin: 10px;
  color: blue;
}

#myFooter .container
{
  width: auto;
}

#myFooter ul
{
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5
{
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: underline;
}

#myFooter a
{
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover,
  #myFooter a:focus
{
  text-decoration: none;
  color: white;
}

#myFooter .social-networks
{
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .fa
{
  font-size: 30px;
  margin-right: 15px;
  margin-left: 20px;
  background-color: white;
  color: greenyellow;
  border-radius: 51%;
  padding: 10px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 31px;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

#myFooter .fa-facebook:hover
{
  color: #2b55ff;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-facebook:focus
{
  color: #2b55ff;
}

#myFooter .fa-google-plus:hover
{
  color: red;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-google-plus:focus
{
  color: red;
}

#myFooter .fa-twitter:hover
{
  color: #00aced;
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}

#myFooter .fa-twitter:focus
{
  color: #00aced;
}

@media screen and (max-width: 767px)
{
  #myFooter
  {
    text-align: center;
  }

  #myFooter .row
  {
    margin: 0;
  }
}

#myFooter #movetop
{
  font-size: 10px;
}

.btn-circle
{
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn-circle.btn-lg
{
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.btn-circle.btn-xl
{
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
