﻿body {
    font-family: 'Varela Round', sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: transparent;
    overflow: hidden;
    margin: 0px;
    width: auto;

}


.flyzoo-option {
    width: auto;
    min-width: 50px;
    height: 48px;
    text-align: center;
    float: left;
    margin-left: 8px;
    /*color: #808080;*/
}

    .flyzoo-option:hover {
        /*color: #ff6a00;*/
        cursor: pointer;
    }

    .flyzoo-option span {
        font-size: 9px;
        line-height: 10px;
        font-family: 'Varela Round', sans-serif;
    }

.icon {
    font-size: 24px;
    padding: 0px;
    margin-top: 6px;
    margin-bottom: -9px;
}

.icon-avatar {
    font-size: 24px;
    padding: 0px;
    border-radius: 5px;
    /*color: #808080;
    background-color: #ffffff;*/
    width: 38px;
    height: 38px;
    text-align: center;
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}

.main-button-icon {
    font-size: 30px;
    padding: 0px;
    border-radius: 5px;
    /*color: #ffffff;*/
    width: 36px;
    height: 31px;
    text-align: center;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 7px;
    padding-top: 5px;
    float: left;
}

.main-button-text {
    line-height: 14px;
    font-size: 13px;
    margin-top: 10px;
    margin-left: 5px;
    width: auto;
    margin-right: 15px;
    float: left;
    /*color: white;*/
}

.flyzoo-option-arrow {
    width: 24px;
    min-width: 24px;
    vertical-align: middle;
    height: 48px;
    text-align: center;
    float: left;
    font-size: 24px;
    /*color: #808080;*/
    padding-top: 10px;
}

#minimize, #maximize {
    display: none;
    width: 32px;
}

.flyzoo-option-arrow:hover {
    /*color: #ff6a00;*/
    cursor: pointer;
}

#flyzoo-options {
    display: block; /* necessario x autowidth*/
    width: auto;
    overflow: hidden;
    float: left;
}

#flyzoo-options-container {
    display: block; /* necessario x autowidth*/
    width: auto;
    height: 48px;
    overflow: hidden;
    float: left;
}

.dock-main-button {
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    border-top-left-radius: 8px;
    width: auto;
    height: 48px;
    overflow: hidden;
    /*background-color: #3f8bbe;*/
    float: left;
}

.dock-main-button:hover {
    /*background-color: #49a2dd;*/
    cursor: pointer;
}


.compact {
    width: 50px;
}


/* -1px fix widthper userbox*/

.notrounded {
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#dock-container {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 8px;
    float: right;

    /*background-color: #efefeb;*/
    width: auto;
    height: 48px;
    /*overflow: hidden;*/
    -webkit-box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 3px 0px 0px rgba(0, 0, 0, 0.2);
    margin-right: 10px;
}

.no-border {
    -webkit-border-top-left-radius: 0 !important;
    -moz-border-radius-topleft: 0 !important;
    border-top-left-radius: 0 !important;
    -webkit-border-top-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -webkit-border-radius: 0;
    border-radius: 0;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}