﻿@charset "UTF-8";

@font-face {
  font-family: "flyzoowidget";
  src:url("fonts/flyzoowidget.eot");
  src:url("fonts/flyzoowidget.eot?#iefix") format("embedded-opentype"),
          url("fonts/flyzoowidget.svg#flyzoowidget") format("svg"),
    url("fonts/flyzoowidget.woff") format("woff"),
    url("fonts/flyzoowidget.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;

}


[data-icon]:before {
  font-family: "flyzoowidget" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="flyzoo-icon-"]:before,
[class*=" flyzoo-icon-"]:before {
  font-family: "flyzoowidget" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flyzoo-icon-chat:before {
  content: "a";
}
.flyzoo-icon-stats:before {
  content: "b";
}
.flyzoo-icon-circle-open:before {
  content: "d";
}
.flyzoo-icon-attach:before {
  content: "e";
}
.flyzoo-icon-world:before {
  content: "f";
}
.flyzoo-icon-sound-on:before {
  content: "g";
}
.flyzoo-icon-user:before {
  content: "h";
}
.flyzoo-icon-share:before {
  content: "i";
}
.flyzoo-icon-off:before {
  content: "j";
}
.flyzoo-icon-block:before {
  content: "k";
}
.flyzoo-icon-alert:before {
  content: "l";
}
.flyzoo-icon-circle:before {
  content: "m";
}
.flyzoo-icon-like:before {
  content: "n";
}
.flyzoo-icon-dislike:before {
  content: "o";
}
.flyzoo-icon-facebook:before {
  content: "p";
}
.flyzoo-icon-operator:before {
  content: "q";
}
.flyzoo-icon-key:before {
  content: "r";
}
.flyzoo-icon-close:before {
  content: "s";
}
.flyzoo-icon-star:before {
  content: "t";
}
.flyzoo-icon-returning:before {
  content: "u";
}
.flyzoo-icon-mail:before {
  content: "v";
}
.flyzoo-icon-options:before {
  content: "w";
}
.flyzoo-icon-arrow-right:before {
  content: "x";
}
.flyzoo-icon-sound-off:before {
  content: "y";
}
.flyzoo-icon-clock:before {
  content: "z";
}
.flyzoo-icon-follow:before {
  content: "A";
}
.flyzoo-icon-insights:before {
  content: "B";
}
.flyzoo-icon-arrow-left:before {
  content: "C";
}
.flyzoo-icon-arrow-down:before {
  content: "D";
}
.flyzoo-icon-comment:before {
  content: "E";
}
.flyzoo-icon-mobile:before {
  content: "F";
}
.flyzoo-icon-users:before {
  content: "G";
}
.flyzoo-icon-options2:before {
  content: "H";
}
.flyzoo-icon-arrow-up:before {
  content: "I";
}
.flyzoo-icon-menu:before {
  content: "J";
}
.flyzoo-icon-key2:before {
  content: "K";
}
.flyzoo-icon-dollar:before {
  content: "L";
}
.flyzoo-icon-smile:before {
  content: "M";
}
.flyzoo-icon-dashboard:before {
  content: "N";
}
.flyzoo-icon-ok:before {
  content: "O";
}
.flyzoo-icon-expand:before {
  content: "P";
}
.flyzoo-icon-screen:before {
  content: "Q";
}
.flyzoo-icon-delete:before {
  content: "R";
}
.flyzoo-icon-reload:before {
  content: "S";
}
.flyzoo-icon-skype:before {
  content: "T";
}
.flyzoo-icon-twitter:before {
  content: "U";
}
.flyzoo-icon-maximize:before {
  content: "V";
}
.flyzoo-icon-list:before {
  content: "W";
}
.flyzoo-icon-link:before {
  content: "Y";
}
.flyzoo-icon-profile:before {
  content: "X";
}
.flyzoo-icon-shield:before {
  content: "Z";
}
.flyzoo-icon-search:before {
  content: "0";
}
.flyzoo-icon-star-empty:before {
  content: "c";
}
.flyzoo-icon-plane:before {
  content: "1";
}
.flyzoo-icon-smile2:before {
  content: "2";
}
.flyzoo-icon-repeat-redo:before {
  content: "3";
}
.flyzoo-icon-spinner:before {
  content: "4";
}
.flyzoo-icon-more-2:before {
  content: "5";
}
.flyzoo-icon-ignore:before {
  content: "6";
}
.flyzoo-icon-lock:before {
  content: "7";
}
